﻿@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

nav {
    margin-bottom:100px;
    font-size:14px;
}

    nav li {
        margin:0px 5px;
    }
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  
  position: relative;
  min-height: 100%;
}

nav {
    position:sticky;
}

body {
    font-family: 'Poppins', sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #fff;
    background-color: #222222;
}

.footer {
  background-color:#161616;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* Custom 
-------------------------------------------------- */
#login-view input {
    margin:0px 25px;
    max-width:650px;
    margin-bottom:30px;
    padding:30px 20px;
}
#login-view .custom-confirm-button {
    background-color: #FF9A1F;
    color:white;
    border:none;
    padding:20px 60px;
}

#login-view .custom-secondary-button {
    background-color: #46AFE0;
    color: white;
    border: none;
    padding:30px 0px;
    min-width: 250px;
    max-width: 600px;
}


/* PACKAGE 1 */
