﻿@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.CompetitionContainer {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.ContentContainer {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    margin: 4px 100px;
    flex-wrap: wrap;
    padding: 0px 50px;
}