﻿<nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-primary">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="margin-left:5px;margin-right:10px; color:white; font-weight:600;font-weight:bold">COMPETITION JUDGING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="mr-auto navbar-nav">
            <li><a class="text-white nav-item nav-link active" asp-controller="Administrator" asp-action="AreaInterestDashboard">Area of Interests Dashboard</a></li>
            <li><a class="text-white nav-item nav-link active" asp-controller="Administrator" asp-action="CompetitionDashboard">Competitions Dashboard</a></li>
            <li><a class="text-white nav-item nav-link" asp-controller="Administrator" asp-action="CompJudgeDashboard">Competition Judge Dashboard</a></li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="text-white nav-item nav-link" asp-controller="Home" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>