﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4" style="margin-bottom:50px;">Welcome to<br />
    <span style="margin-left:5px;margin-right:10px; color:white; font-weight:600;font-weight:bold">COMPETITION JUDGING</span></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>. textnumber1234</p>
</div>
