﻿@{
    ViewData["Title"] = "Login";

}
<div id="login-view" class="text-center" style="margin-bottom:100px;">

    <h1 class="display-4" style="margin-bottom:50px">Login</h1>

    <form method="post" asp-controller="Home" asp-action="UserLogin">
        <fieldset>
            <input name="inputEmail" id="inputEmail" placeholder="Email" type="email" class="mx-auto form-control">
            <input name="inputPassword" id="inputPassword" placeholder="Password" type="password" class="mx-auto form-control">
            <button type="submit" class="custom-confirm-button">Login</button><br>
        </fieldset>
    </form>

    <br><span style="margin-top:25px; margin-bottom:25px; color:red;">@TempData["Message"]</span><br>

    <button onclick="location.href='@Url.Action("CreateCompetitor","Competition")'" class="custom-secondary-button" style="margin-top:50px;margin-bottom:20px">Create Competitior Profile</button><br />
    <form method="post">
        <button asp-controller="Judge" asp-action="CreateJudge" class="custom-secondary-button" style="margin-top:50px;margin-bottom:20px">Create Judge</button>
    </form>
</div>