﻿@model WEB2021Apr_P03_T4.Models.Criteria

@{
    ViewData["Title"] = "CreateCriteria";
}

<h1 style="margin-top:100px;text-align:center;">Create Criteria</h1>
<p style="margin-top:25px;margin-bottom:100px; text-align:center;" class="text-secondary">View Existing Criterions & Modify</p>
<div style="background-color:rgb(255 255 255 / 0.10);padding:40px; margin-bottom:100px;">
    <table class="table table-borderless text-white table-striped">
        <h3>Competition ID | @ViewData["compID"] </h3>
        <thead style="border-bottom: solid 1px white;">
            <tr>
                <th>Criteria</th>
                @*<th>Competition ID</th>*@
                <th >Criteria Name</th>
                <th >Weightage</th>
                <th >Actions</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                    <td colspan="4"><hr style="border-top:1.5px solid lightgrey;"></td>
                </tr>*@
            <tr>
                <!-- STUFF GOES HERE -->
                @if (ViewData["existingList"] != null)
                {
                    @foreach (var item in (List<Criteria>)ViewData["existingList"])
                    {
                    <tr>
                        @*<td>@item.CompetitionID.ToString()</td>*@
                        <td>@item.CriteriaID.ToString()</td>
                        @*<td>@item.CompetitionID.ToString()</td>*@
                        <td>@item.CriteriaName.ToString()</td>
                        <td>@item.Weightage.ToString()</td>

                        <td class="text-center">
                            <a class="text-danger" class="btn" method="post"
                               asp-action="Delete"
                               asp-controller="Judge"
                               asp-route-compid="@item.CompetitionID"
                               asp-route-critirionID="@item.CriteriaID">
                                Remove
                            </a>
                        </td>
                    </tr>
                }
                }
                else
                {
                <td colspan="4"><span style="color:red">No record found!</span></td>
            }
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="container-fluid">
                    <form asp-action="AddCritirion">

                        @*CRITERIA ID IS AUTO GENERATED BY DB*@
                        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="CriteriaID" class="control-label"></label>
                                <input asp-for="CriteriaID" class="form-control" />
                                <span asp-validation-for="CriteriaID" class="text-danger"></span>
                            </div>*@
                        <div class="form-group" style="display:none;">
                            <label asp-for="CompetitionID" class="control-label"></label>
                            <input asp-for="CompetitionID" class="form-control" readonly/>
                            <span asp-validation-for="CompetitionID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CriteriaName" class="control-label"></label>
                            <input asp-for="CriteriaName" class="form-control" />
                            <span asp-validation-for="CriteriaName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Weightage" class="control-label"></label>
                            <input asp-for="Weightage" class="form-control" />
                            <span asp-validation-for="Weightage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-success container-fluid" style="padding:25px"/>
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="ViewYourCompetitions" class="container-fluid">Back to List</a>
            </div>

