﻿@model WEB2021Apr_P03_T4.Models.Judge

@{
    ViewData["Title"] = "CreateJudge";
}

<h1>CreateJudge</h1>

<h4>Judge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateJudge">

            @*ID IS SET BY DB*@

            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JudgeID" class="control-label"></label>
                <input asp-for="JudgeID" class="form-control" />
                <span asp-validation-for="JudgeID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="JudgeName" class="control-label"></label>
                <input asp-for="JudgeName" class="form-control" />
                <span asp-validation-for="JudgeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salutation" class="control-label"></label>
                <input asp-for="Salutation" class="form-control" />
                <span asp-validation-for="Salutation" class="text-danger"></span>
            </div>

            @*AREA OF INTEREST TO BE LISTED WIT CORRESPONDING ID/NAME LATER ON*@

            <div class="form-group">
                <label asp-for="AreaInterestID" class="control-label"></label>
                <input asp-for="AreaInterestID" class="form-control" />
                <span asp-validation-for="AreaInterestID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddr" class="control-label"></label>
                <input asp-for="EmailAddr" class="form-control" />
                <span asp-validation-for="EmailAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

