﻿@model WEB2021Apr_P03_T4.Models.CompetitionSubmission

@{
    ViewData["Title"] = "EditRanking";
}

<h1>EditRanking</h1>

<h4>CompetitionSubmission @ViewData["Ranking"]</h4>
<hr />
@{ 
    int votecountsubmission = (int)ViewData["VoteCountSubmission"];
}

<div class="row">
    <div class="col-md-4">
        <method="post" asp-controller="Judge" form asp-action="EditRanking">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="CompetitionID" class="control-label"></label>
            <input asp-for="CompetitionID" class="form-control" />
            <span asp-validation-for="CompetitionID" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="CompetitorID" class="control-label"></label>
                <input asp-for="CompetitorID" readonly class="form-control" value=@ViewData["CompetID"] />
                <span asp-validation-for="CompetitorID" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="DateTimeFileUpload" class="control-label"></label>
            <input asp-for="DateTimeFileUpload" class="form-control" />
            <span asp-validation-for="DateTimeFileUpload" class="text-danger"></span>
        </div>*@
            @if (ViewData["SubmissionAppeal"] != null)
            {
                <div class="form-group">
                    <label asp-for="Appeal" class="control-label"></label>
                    <input asp-for="Appeal" readonly value=@ViewData["SubmissionAppeal"] class="form-control" />
                    <span asp-validation-for="Appeal" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Appeal" class="control-label"></label>
                    <input asp-for="Appeal" readonly value="No appeal." class="form-control" />
                    <span asp-validation-for="Appeal" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="VoteCount" class="control-label"></label>
                <input asp-for="VoteCount" readonly value=@votecountsubmission class="form-control" />
                <span asp-validation-for="VoteCount" class="text-danger"></span>
            </div>
            @if (ViewData["Ranking"] != null)
            {
                <div class="form-group">
                    <label asp-for="Ranking" class="control-label"></label>
                    <input asp-for="Ranking" value=@ViewData["Ranking"] type="number" id ="rankingInput" name="rankingInput" min="0" class="form-control" />
                    <span asp-validation-for="Ranking" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Ranking" class="control-label"></label>
                    <input asp-for="Ranking" id ="rankingInput" name="rankingInput" type="number" min="0" class="form-control" />
                    <span asp-validation-for="Ranking" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </method="post"form>
        <div>
            Total Marks: @ViewData["totalMarks"]
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

