﻿@model IEnumerable<WEB2021Apr_P03_T4.Models.Competition>
@{
    ViewData["Title"] = "ViewYourCompetition";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ViewCompetition.css">
</head>
<div class="text-center">
    <h1 class="display-4" style="margin-bottom:50px;">View Competitions</h1>
</div>

@{
    int counter = 0;
    <div class="CompetitionContainer">

        @foreach (var item in Model)
        {
        <div class="ContentContainer">
            <h1 class="ContainerHeader">@item.CompetitionName</h1>
            <div class="ContainerContent">Competition ID: @item.CompetitionID</div>
            <div class="ContainerContent">Start Date: @item.StartDate</div>
            <div class="ContainerContent">End Date: @item.EndDate</div>
            <div class="ContainerContent">Result Release Date:@item.ResultReleasedDate</div>
            <a asp-action="ViewYourCompetitors" asp-controller="Judge"
               asp-route-competitionID="@item.CompetitionID">View Work</a>
            <a asp-action="CreateCriteria" asp-controller="Judge" asp-route-CompetitionID=@item.CompetitionID>
                Create Criteria
            </a>
        </div>
            counter += 1;
        }
        @if (counter == 0)
        {
            <span style="color:red">No competition found!</span>
        }
    </div>
}