﻿@model IEnumerable<WEB2021Apr_P03_T4.Models.PublicViewModel>

@{
    ViewData["Title"] = "ViewCompetitors";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ViewCompetition.css">
</head>

@{int competID = (int)ViewData["CompetID"];}

@foreach (var item in Model)
{
    @if (competID == item.CompetitionID)
    {
        <div class="text-center">
            <h1 class="display-4" style="margin-bottom:50px;">@item.CompetitionName</h1>
        </div>
        break;
    }
}
@{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered" color="White">
            <thead class="thead-dark">
                <tr>
                    <th>Competitor ID</th>
                    <th>Name</th>
                    <th>File submitted</th>
                    <th>Time of submittion</th>
                    <th>Judge Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (competID == item.CompetitionID)
                    {
                        <tr>
                            <td>@item.CompetitorID.ToString()</td>
                            <td>@item.CompetitorName</td>
                            <td>@item.FileSubmitted <a href="@item.FileSubmitted" download><div>Download File</div></a></td>
                            <td>@item.DateTimeFileUpload</td>
                            <td>
                                <a asp-action="JudgeWork" asp-controller="Judge" asp-route-CompetitorID=@item.CompetitorID>
                                    Judge work
                                </a>
                                <a asp-action="EditRanking" asp-controller="Judge" asp-route-CompetitorID=@item.CompetitorID asp-route-CompetionID=@item.CompetitionID>
                                    Edit Ranking
                                </a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
