﻿@model IEnumerable<WEB2021Apr_P03_T4.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ViewCompetition.css">
</head>

@{
    int competID = (int)TempData["CompetID"];
    int counter = 0;
    <div class="CommentsContainer">

        @foreach (var item in Model)
        {
            @if (competID == item.CompetitionID)
            {
            <div class="ContentContainer">
                <div class="ContainerContent">Description: @item.Description</div>
                <div class="ContainerContent">End Date: @item.DateTimePosted</div>
            </div>
                counter += 1;
            }
        }
        @if (counter == 0)
        {
            <span style="color:red">No Comments found!</span>
        }
    </div>
}



