﻿@model IEnumerable<WEB2021Apr_P03_T4.Models.PublicViewModel>

@{
    int competID = (int)ViewData["CompetID"];
    <div class="table-responsive">
        <table class="table table-borderless text-white table-striped">
            <thead style="border-bottom: solid 1px white;">
                <tr>
                    <th class="text-center">Competitor ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">File submitted</th>
                    <th class="text-center">Time of submittion</th>
                    <th class="text-center">Voting</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (competID == item.CompetitionID)
                    {
                        <tr>
                            <td>@item.CompetitorID.ToString()</td>
                            <td>@item.CompetitorName</td>
                            <td>@item.FileSubmitted <a href="@item.FileSubmitted" download><div>Download File</div></a></td>
                            <td>@item.DateTimeFileUpload</td>
                            <td>
                                @item.VoteCount
                                <a asp-action="IncreaseVoteCount" asp-controller="ViewCompetition"
                                   asp-route-competitionid=@competID
                                   asp-route-competitiorid=@item.CompetitorID
                                   asp-route-voteCount=@item.VoteCount>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                                    </svg>
                                </a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}