﻿@model WEB2021Apr_P03_T4.Models.Comment

@{
    ViewData["Title"] = "AddComment";
    int competID = (int)TempData["CompetID"];
}


<h1>AddComment</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="display: none;" class="form-group">
                <label asp-for="CompetitionID" class="control-label"></label>
                <input required asp-for="CompetitionID" readonly value="@competID" class="form-control" />
                <span asp-validation-for="CompetitionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input required asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateComment" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="ViewComments" asp-route-competitionID=@competID>Back to List</a>
        </div>
    </div>
</div>

