﻿@model IEnumerable<WEB2021Apr_P03_T4.Models.PublicViewModel>

@{
    ViewData["Title"] = "ViewCompetitors";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ViewCompetition.css">
</head>

@{int competID = (int)ViewData["CompetID"];}

@foreach (var item in Model)
{
    @if (competID == item.CompetitionID)
    {
        <div class="text-center">
            <h1 class="display-4" style="margin-bottom:50px;">@item.CompetitionName</h1>
        </div>
        break;
    }
}
<a asp-action="ViewComments" asp-controller="ViewCompetition"
   asp-route-competitionID=@competID>View comments</a>

<partial name="~/Views/ViewCompetition/_ViewDetails.cshtml" model="@Model" />
