﻿@model IEnumerable<WEB2021Apr_P03_T4.Models.Comment>
@{
    ViewData["Title"] = "ViewComments";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom:50px;">View Comments</h1>
</div>
@{int competID = (int)TempData["CompetID"];}
<a asp-action="CreateComment" asp-controller="ViewCompetition"
   asp-route-competitionID="@competID">add comments</a>
<a asp-action="ViewCompetitors" asp-controller="ViewCompetition"
   asp-route-competitionID="@competID">Go back</a>
<partial name="~/Views/ViewCompetition/_ViewComments.cshtml" model="@Model" />

