﻿@model IEnumerable<WEB2021Apr_P03_T4.Models.PublicViewModel>

@{
    ViewData["Title"] = "ViewCompetitors";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ViewCompetition.css">
</head>

@{
    int competID = (int)ViewData["CompetID"];
    int count = 0;
}

@foreach (var item in Model)
{
    @if (competID == item.CompetitionID)
    {
        <div class="text-center">
            <h1 class="display-4" style="margin-bottom:50px;">@item.CompetitionName</h1>
        </div>
        break;
    }
}
<a asp-action="ViewComments" asp-controller="ViewCompetition"
   asp-route-competitionID=@competID>View comments</a>

@{
    <div class="table-responsive">
        <table class="table table-borderless text-white table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Ranking</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">File submitted</th>
                    <th class="text-center">Time of submittion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (competID == item.CompetitionID && count < 3)
                    {
                        <tr>
                            <td>@item.Ranking.ToString()</td>
                            <td>@item.CompetitorName</td>
                            <td>@item.FileSubmitted <a href="@item.FileSubmitted" download><div>Download File</div></a></td>
                            <td>@item.DateTimeFileUpload</td>
                        </tr>
                        count += 1;
                    }
                }
            </tbody>
        </table>
    </div>
}