﻿@model WEB2021Apr_P03_T4.Models.Competitor

@{
    ViewData["Title"] = "CreateCompetitor";
}
    
<h1>CreateCompetitor</h1>

<h4>Competitor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCompetitor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="CompetitorID" class="control-label"></label>
                <input asp-for="CompetitorID" class="form-control" />
                <span asp-validation-for="CompetitorID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CompetitorName" class="control-label"></label>
                <input asp-for="CompetitorName" class="form-control" />
                <span asp-validation-for="CompetitorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salutation" class="control-label"></label>
                <input asp-for="Salutation" class="form-control" />
                <span asp-validation-for="Salutation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddr" class="control-label"></label>
                <input asp-for="EmailAddr" class="form-control" />
                <span asp-validation-for="EmailAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type ="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label id="ConfirmPassword" class="control-label">Confirm Password</label>
                <input id="ConfirmPassword" class="form-control" />
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Login","Home")" >Back</a>
</div>

