﻿@model WEB2021Apr_P03_T4.Models.CompetitionSubmission


<h1 style="margin-top:100px;text-align:center;">Submit Appeal for Competition Works</h1>
<p style="margin-top:25px;margin-bottom:100px; text-align:center;" class="text-secondary">Upload a PDF file for Competition ID : @ViewBag.CompetitionID</p>

<form asp-action="SubmitAppeal">
    <div style="background-color:rgb(255 255 255 / 0.10);padding:40px;">
        
        <input id="textBox" style="margin:auto;height:500px" class="form-control-file" name="value" required />

        <div class="form-group row">
            <input type="submit" value="Submit Appeal" id="submitAppeal" class="btn btn-success container-fluid" style="border-radius:0px;height:100px;margin:15px" />
            <a asp-action="ViewAndAppeal" style="margin:auto;">Back</a>

         
        </div>
    </div>
</form>




