﻿@model WEB2021Apr_P03_T4.Models.CompetitionSubmission


<h1 style="margin-top:100px;text-align:center;">Upload Competition Works</h1>
<p style="margin-top:25px;margin-bottom:100px; text-align:center;" class="text-secondary">Upload a PDF file for Competition ID : @Model.CompetitionID</p>

<form asp-action="UploadPdf" enctype="multipart/form-data">
    <div style="background-color:rgb(255 255 255 / 0.10);padding:40px;">
        <input style="margin:auto" class="form-control-file" asp-for="FileSubmitted" accept="image/pdf" />
        <div class="form-group row">
            <input type="submit" value="Submit Works" class="btn btn-success container-fluid" style="border-radius:0px;height:100px;margin:15px" />
        </div>
    </div>
</form>