﻿@model IEnumerable<WEB2021Apr_P03_T4.Models.Competition>

@{
    ViewData["Title"] = "ViewCompetitorCompetition";
}




<h1 style="text-align: center">Competition(s) Joined</h1>
<span style="color:red;">@TempData["UploadLateEarly"]</span>
<span style="color:lawngreen;">@TempData["UploadSuccess"]</span>
<span style="color:red;">@TempData["UploadFail"]</span>

@if (ViewBag.joinedList.Count > 0)
{
    @foreach (var item in ViewBag.joinedList)
    {
        @using (Html.BeginForm())
        {
            <div class="container" style="background-color: rgb(255 255 255 / 0.10);height:300px;width:82%;margin-top:30px;margin-bottom:30px;position:relative;">
                <div style="position:absolute;left:35px;top:35px;height:230px;width:230px;background-color:white;"></div>
                <div style="position:absolute;left:300px;top:50px;">
                    @item.CompetitionName.ToString()
                    <ul style="margin-top:30px;">
                        <table>
                            <tr>
                                <th style="font-weight:normal">
                        <li>CompetitionID : </li></th>
                        <th><input id="competitionID" style="background-color: rgb(255 255 255 / 0.0010);color:white;border:none;outline:none;" readonly name="CompetitionID" value=@item.CompetitionID></th>
                        </tr>
                        </table>
                        <li>AreaOfInterestID : @item.AreaInterestID.ToString()</li>
                        <table>
                            <tr>
                                <th style="font-weight:normal">
                        <li>StartDate : </li></th>
                        <th><input style="background-color: rgb(255 255 255 / 0.0010);color:white;border:none;outline:none;" readonly name="startDate" value=@item.StartDate></th>
                        </tr>
                        </table>
                        <li>EndDate : @item.EndDate</li>
                        <li>ResultDate : @item.ResultReleasedDate</li>
                    </ul>
                </div>


                <input asp-action="UploadPdf" asp-route-id="@item.CompetitionID" asp-route-startDate="@item.StartDate" asp-route-endDate="@item.EndDate" type="submit" Value="Submit Works" style="position:absolute;right:40px;bottom:35px;background-color:orange;border-radius:5px;">







            </div>

        }

    }
}
else
{
    <span style="color:red">No record found!</span>
}
