﻿@model IEnumerable<WEB2021Apr_P03_T4.Models.Competition>

@{
    ViewData["Title"] = "ViewAndAppeal";
}




<h1 style="text-align: center">Competition Scores</h1>
<span style="color:lawngreen;" id="success">@TempData["AppealSuccess"]</span>
<span style="color:red;">@TempData["AppealFail"]</span>

@if (ViewBag.joinedList.Count > 0)
{
    @foreach (var item in ViewBag.joinedList)
    {
        @using (Html.BeginForm())
        {
            <div class="container" style="background-color: rgb(255 255 255 / 0.10);height:300px;width:82%;margin-top:30px;margin-bottom:30px;position:relative;">
                <div style="position:absolute;left:35px;top:35px;height:230px;width:230px;background-color:white;"></div>
                <div style="position:absolute;left:300px;top:50px;">
                    @item.CompetitionName.ToString()
                    <ul style="margin-top:30px;list-style:none;">
                        @foreach (var criteria in ViewBag.criteriaList)
                        {
                            if (item.CompetitionID == criteria.CompetitionID)
                            {
                                <li>@criteria.CriteriaName</li>
                            }
                        }

                    </ul>
                    <ul style="position:absolute;list-style:none;right:-170px;top:52px;">
                        @foreach (var score in ViewBag.competitionScoreList)
                        {
                            if (item.CompetitionID == score.CompetitionID)
                            {
                                <li>Score : @score.Score</li>
                            }
                        }

                    </ul>
                </div>


                <input asp-action="SubmitAppeal" asp-route-id="@item.CompetitionID" asp-route-resultEndDate="@item.ResultReleasedDate" type="submit" Value="Appeal" style="position:absolute;right:40px;bottom:35px;background-color:orange;border-radius:5px;">







            </div>

        }

    }
}
else
{
    <span style="color:red">No record found!</span>
}
