﻿@model WEB2021Apr_P03_T4.Models.AreaInterest

@{
    ViewData["Title"] = "Area of Interest | Delete";
}

<h1 style="margin-top:100px;margin-bottom:100px; text-align:center;" >Area of Interest Delete Confirmation</h1>

<div style="background-color:rgb(255 255 255 / 0.10);padding:40px;" style="margin-bottom:250px;">
    <h4>Are you sure you want to delete this?</h4>
    <hr />
        <div class="form-group row">
            <label asp-for="AreaInterestID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="AreaInterestID" readonly class="form-control-plaintext text-warning"/>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:50px">
            <label asp-for="Name"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Name" readonly class="form-control-plaintext text-warning" />
            </div>
        </div >
    @*<dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AreaInterestID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AreaInterestID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>*@

<a asp-controller="AreaInterest" asp-action="Delete" asp-route-id="@Model.AreaInterestID" style="border-radius:0px;padding:25px" type="button" class="btn btn-danger text-white container-fluid btn">Delete This Area of Interest</a>

        <div style="margin-top:50px;margin-bottom:50px;">
            <a class="text-center container-fluid" asp-action="AreaInterestDashboard">Back to List</a>
        </div>
</div>
