﻿@model IEnumerable<WEB2021Apr_P03_T4.Models.AreaInterestViewModel>

@{
    ViewData["Title"] = "Area of Interest | Dashboard";
}

<h1 style="margin-top:100px;text-align:center;">Area Of Interest Dashboard</h1>
<p style="margin-top:25px;margin-bottom:100px; text-align:center;" class="text-secondary">View & Modify All Area of Interest</p>

<div style="background-color:rgb(255 255 255 / 0.10);padding:40px;">
    <table class="table table-borderless text-white container-fluid table-striped">
        <thead style="border-bottom: solid 1px white;">
            <tr>
                <th>ID</th>
                <th>Area of Interest (@Model.ToList().Count().ToString())</th>
                <th class="text-center">Competitions</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                    <td colspan="4"><hr style="border-top:1.5px solid lightgrey;"></td>
                </tr>*@
            <tr>
                <!-- STUFF GOES HERE -->
                @if (Model.ToList().Count > 0)
                {
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.AreaInterestID.ToString()</td>
                        <td>@item.Name</td>
                        <td class="text-center">@item.CompetitionCount.ToString()</td>
                        @if (item.CompetitionCount < 1)
                        {
                            <td class="text-center">
                                <a class="text-danger" class="btn" style="margin-right:10px;" method="post"
                                   asp-action="AreaInterestDelete"
                                   asp-controller="Administrator"
                                   asp-route-id="@item.AreaInterestID">Remove</a>
                            </td>
                        }
                        else
                        {
                            @*<td class="text-center text-primary"><a href="#">View This Competition</a></td>*@
                            <td></td>
                        }
                        <td class="text-center">
                        </td>
                    </tr>
                }
                }
                else
                {
                <td colspan="4"><span style="color:red">No record found!</span></td>
            }
                </tr>
                </tbody>
            </table>
            <!-- Table Controls -->
        </div>
        <div class="bg-secondary" style="margin-bottom: 100px; padding:20px;">
            <button onclick="location.href='@Url.Action("AreaInterestCreate","Administrator")'" style="border-radius:0px;height:100px" type="button" class="btn btn-success text-white container-fluid">Create New Area of Interest</button>
        </div>
