﻿@model WEB2021Apr_P03_T4.Models.AreaInterest

@{
    ViewData["Title"] = "Area of Interest | Create";
}

<h1 style="margin-top:100px;margin-bottom:100px; text-align:center;" >AreaInterestCreate</h1>

<hr />
<div class="row">
    <div style="background-color:rgb(255 255 255 / 0.10);padding:40px;margin-bottom:200px" class="container-fluid">
        <form asp-action="AreaInterestCreate" asp-controller="AreaInterest">
            <div class="row">
                @*<div class="col col-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AreaInterestID" class="control-label"></label>
                        <input asp-for="AreaInterestID" class="form-control" disabled />
                        <span asp-validation-for="AreaInterestID" class="text-danger"></span>
                    </div>
                </div>*@
                <div class="col col-12">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <input type="submit" value="Create New Area of Interest" class="btn btn-success container-fluid" style="border-radius:0px;height:100px;margin:15px" />
            </div>
        </form>
        <div>
            <a class="text-center container-fluid" asp-action="AreaInterestDashboard">Back to List</a>
        </div>
    </div>
</div>

