﻿@model WEB2021Apr_P03_T4.Models.CompetitionJudge

@{
    ViewData["Title"] = "CompJudgeDelete";
}

<h1>CompJudgeDelete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CompetitionJudge</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetitionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JudgeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JudgeID)
        </dd>
    </dl>z
    
    <form asp-action="CompJudgeDelete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
