﻿@model WEB2021Apr_P03_T4.Models.Competition

@{
    ViewData["Title"] = "CreateCompetition";
}

<h1 style="margin-top:100px;margin-bottom:100px; text-align:center;">Create Competition</h1>

<hr />
<div class="row" style="margin-bottom:200px">
    <div class="mx-auto col-6">
        <form asp-action="SubmitCreateCompetition" asp-controller="Competition">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AreaInterestID" class="control-label"></label>
                <br />
                <select class="form-select" asp-for="AreaInterestID"
                        asp-items="@(new SelectList(ViewData["AreaInterestVM"] as List <AreaInterestViewModel>, "AreaInterestID", "Name"))"></select>
                <br /><span asp-validation-for="AreaInterestID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionName" class="control-label"></label>
                <input asp-for="CompetitionName" required class="form-control" />
                <span asp-validation-for="CompetitionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ResultReleasedDate" class="control-label"></label>
                <input asp-for="ResultReleasedDate" class="form-control" />
            </div>
            <br><span style="margin-top:25px; margin-bottom:25px; color:red;">@TempData["EndDateWrong"]@TempData["ResRelWrong"]</span><br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a asp-controller="Administrator" asp-action="CompetitionDashboard">Back to List</a>
            </div>

        </form>
    </div>
</div>
