﻿@model WEB2021Apr_P03_T4.Models.CompetitionJudge

@{
    ViewData["Title"] = "CompJudgeAssign";
}

<h1 style="margin-top:100px; text-align:center;">Assign Judge To Competition</h1>
<p style="margin-top:25px;margin-bottom:100px; text-align:center;" class="text-secondary">Assign More Judges To Competition</p>
    <div style="background-color:rgb(255 255 255 / 0.10);padding:40px; margin-bottom:200px;" class="row">
            <div class="mx-auto col-6">
                <form asp-controller="AdminJudge" asp-action="Assign">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="JudgeID" class="control-label">Judge Name</label>
                            <br />
                            <select style="padding:20px"
                                    class="form-select" asp-for="JudgeID"
                                asp-items="@(new SelectList(ViewData["judgelist"] as List <Judge>, "JudgeID", "JudgeName"))"></select>
                            <br /><span asp-validation-for="JudgeID" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            @*<label asp-for="CompetitionID" class="control-label">Competition Name</label>
                            <br />
                            <select style="padding:20px"
                                    class="form-select" asp-for="CompetitionID"
                                    asp-items="@(new SelectList(ViewData["complist"] as List <CompetitionJudgeViewModel>, "CompetitionID", "CompetitionName"))"></select>
                            <br /><span asp-validation-for="CompetitionID" class="text-danger"></span>*@

                            <label asp-for="CompetitionID"
                                   class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="CompetitionID" readonly class="form-control-plaintext text-warning" value="@ViewData["compID"]" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add Judge" class="btn btn-success container-fluid" style="padding:25px;border-radius:0px;" />
                    </div>
                    <div>
                        <a asp-controller="Administrator" asp-action="CompJudgeDashboard">Back to List</a>
                    </div>
                </form>
            </div>
        </div>

