﻿@model IEnumerable<WEB2021Apr_P03_T4.Models.Competition>

@{
    ViewData["Title"] = "Comeptition | Dashboard";
}

<h1 style="margin-top:100px;text-align:center;">Competition Dashboard</h1>
<p style="margin-top:25px;margin-bottom:100px; text-align:center;" class="text-secondary">View & Modify All Competitions</p>
<div style="background-color:rgb(255 255 255 / 0.10);padding:40px;">
    <table class="table table-borderless text-white table-striped">
        <thead style="border-bottom: solid 1px white;">
            <tr>
                <th>ID</th>
                <th>Area of Interest ID</th>
                <th class="text-center">Competition Name</th>
                <th class="text-center">Start Date</th>
                <th class="text-center">End Date</th>
                <th class="text-center">Result Release Date</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                    <td colspan="4"><hr style="border-top:1.5px solid lightgrey;"></td>
                </tr>*@
            <tr>
                <!-- STUFF GOES HERE -->
                @if (Model.ToList().Count > 0)
                {
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.CompetitionID.ToString()</td>
                        <td>@item.AreaInterestID.ToString()</td>
                        <td>@item.CompetitionName.ToString()</td>
                        <td>@item.StartDate.ToString()</td>
                        <td>@item.EndDate.ToString()</td>
                        <td>@item.ResultReleasedDate.ToString()</td>

                        <td class="text-center">
                            <a class="text-danger" class="btn" method="post"
                               asp-action="CompetitionDelete"
                               asp-controller="Administrator"
                               asp-route-id="@item.CompetitionID">Remove</a>
                        </td>
                    </tr>
                }
                }
                else
                {
                <td colspan="4"><span style="color:red">No record found!</span></td>
            }
                </tr>
                </tbody>
            </table>
            <!-- Table Controls -->
        </div>
        <div class="bg-secondary" style="margin-bottom: 100px; padding:20px;">
            <button onclick="location.href='@Url.Action("CompetitionCreate","Administrator")'" style="border-radius:0px;height:100px" type="button" class="btn btn-success text-white container-fluid">Create New Competition</button>
        </div>
