﻿@model WEB2021Apr_P03_T4.Models.CompetitionDoubleJudge

@{
    ViewData["Title"] = "CompJudgeAssign";
}

<h1 style="margin-top:100px;margin-bottom:25px; text-align:center;">Assign Judge To Competition</h1>
<p style="margin-bottom:100px; text-align:center;" class="text-secondary">Assign a minimum of two Judges to a Competition without any</p>

<hr />
<div class="row" style="margin-bottom:200px">
    <div class="mx-auto" style="background-color:rgb(255 255 255 / 0.10);padding:40px;">
        <form asp-controller="AdminJudge" asp-action="AssignDouble">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompetitionID" class="control-label">Competition Name</label>
                <br />
                <select style="padding:20px"
                        class="form-select" asp-for="CompetitionID"
                        asp-items="@(new SelectList(ViewData["complist"] as List <CompetitionJudgeViewModel>, "CompetitionID", "CompetitionName"))"></select>
                <br /><span asp-validation-for="CompetitionID" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="JudgeID_first" class="control-label">Judge 1</label>
                    <br />
                    <select style="padding:20px"
                            class="form-select" asp-for="JudgeID_first"
                            asp-items="@(new SelectList(ViewData["judgelist"] as List <Judge>, "JudgeID", "JudgeName"))"></select>
                    <br /><span asp-validation-for="JudgeID_first" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="JudgeID_second" class="control-label">Judge 2</label>
                    <br />
                    <select style="padding:20px"
                            class="form-select" asp-for="JudgeID_second"
                            asp-items="@(new SelectList(ViewData["judgelist"] as List <Judge>, "JudgeID", "JudgeName"))"></select>
                    <br /><span asp-validation-for="JudgeID_second" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <br><span style="margin-top:25px; margin-bottom:25px; color:red;">@TempData["doubleJudgeError"]</span><br>
                <input type="submit" value="Assign New Judges" class="btn btn-success container-fluid" style="padding:25px;border-radius:0px;" />
            </div>
            <div>
                <a class="text-center" asp-controller="Administrator" asp-action="CompJudgeDashboard">Back to List</a>
            </div>
        </form>
    </div>
</div>