﻿@model IEnumerable<WEB2021Apr_P03_T4.Models.CompetitionJudgeViewModel>

@{
    ViewData["Title"] = "Competition Judge | Dashboard";
}

<h1 style="margin-top:100px; text-align:center;">Competition Judge Dashboard</h1>
<p style="margin-top:25px;margin-bottom:100px; text-align:center;" class="text-secondary">View & Modify All Competitions and Judges</p>
<div style="background-color:rgb(255 255 255 / 0.10);padding:40px;">
    <h3 style="margin-bottom:20px; text-align:center;">Assigned Judges</h3>

    <table class="table table-borderless text-white table-striped">
        <thead style="border-bottom: solid 1px white;">
            <tr>
                <th>Judge ID</th>
                <th>Judge Name</th>
                <th>Competition Name</th>
                <th>Area Interest Name</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr style="padding-top:10px;padding-bottom:10px;">
                <!-- STUFF GOES HERE -->
                @if (Model.ToList().Count > 0)
                {
                    @foreach (var item in Model)
                    {
            <tr>
                <td>@item.JudgeID</td>
                <td>@item.JudgeName</td>
                @*<td>@item.CompetitionID</td>*@
                <td>@item.CompetitionName</td>
                <td>@item.AreaInterestName</td>
                @if (item.JudgeID != 0)
                {
                    <td class="text-center text-success">
                        <a class="text-primary" class="btn" method="post"
                           asp-action="CompJudgeAssign"
                           asp-controller="Administrator"
                           asp-route-compID="@item.CompetitionID">
                            Add
                        </a>
                    </td>
                    <td class="text-center text-success">
                        <a class="text-danger" class="btn" method="post"
                           asp-action="Remove"
                           asp-controller="AdminJudge"
                           asp-route-judgeID="@item.JudgeID"
                           asp-route-compID="@item.CompetitionID">
                            Remove
                        </a>
                    </td>
                }
                else
                {
                }
                <td class="text-center">
                </td>
            </tr>
                }
                }
                else
                {
                <td colspan="5"><span style="color:red">No record found!</span></td>
            }
                </tr>

                </tbody>
            </table>
            <!-- Table Controls -->
        </div>
        <div class="bg-secondary" style="margin-bottom: 100px; padding:20px;">
            <button onclick="location.href='@Url.Action("CompJudgeAssignDouble","Administrator")'" style="border-radius:0px;height:100px" type="button" class="btn btn-success text-white container-fluid">Assign a Judge To A New Competition</button>
        </div>
